
.addmany-results {
  clear: both;
  width: 100%;
  overflow-y: scroll;
  transition: all 500ms ease .4s;
}
.addmany-result {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  padding: 10px 50px 10px 10px;
  line-height: 27px;
  overflow: hidden;
}
.addmany-actual-values {
  clear: both;
  width: 100%;
  height: auto;
  overflow-y: scroll;
}
.addmany-actual-values.sorting-results > li {
  border: rgba(166, 166, 173, 0.61) dashed 2px;
}
.addmany-actual-values.sorting-results input,
.addmany-actual-values.sorting-results textarea {
  opacity: 0.3;
}
.addmany-actual-values .addmany-result.postbox {
  background-color: #f9f9f9;
  transition: background-color 500ms ease 1s, color 500ms ease 1s;
}
.addmany-actual-values .addmany-result.postbox.just-added {
  background-color: #0074a2;
  color: #FFF;
}
.btn-addmany-delete {
  position: absolute;
  right: 8px;
  top: 8px;
}
.addmany ~ b {
  line-height: 40px;
}
.addmany-actual-values li img {
}
.addmany-actual-values a {
  display: block;
}
.btn-addmany-toggle-collapse {
  float: right;
}
/*textarea[id*="addmanywysiwyg"] {
  display: none !important;
}*/
/*.addmany-li-fix-height, .ui-sortable-helper {
  height: 50px !important;
  width: 100%;
  overflow: hidden;
}
.ui-sortable-placeholder {
  height: 50px !important;
}*/
