
.addmany-results {
  clear: both;
  width: 100%;
  overflow-y: scroll;
  -webkit-transition: all 100ms ease .4s;
  -moz-transition: all 500ms ease .4s;
  -o-transition: all 500ms ease .4s;
  transition: all 500ms ease .4s;
}
.addmany-result {
  cursor: pointer;
  width: 95%;
  height: auto;
  margin-bottom: 5px;
  padding-left: 10px;
  line-height: 27px;
  overflow: hidden;
}
.addmany-actual-values {
  clear: both;
  width: 100%;
  min-height: 400px;
  height: auto;
  overflow-y: scroll;
}
.addmany-actual-values.sorting-results > li {
  border: rgba(166, 166, 173, 0.61) dashed 2px;
}
.addmany-actual-values.sorting-results input,
.addmany-actual-values.sorting-results textarea {
  opacity: 0.3;
}
.addmany-actual-values .addmany-result.postbox {
  background-color: #F9F7F7;
  -webkit-transition: background-color 500ms ease 1s;
  -moz-transition: background-color 500ms ease 1s;
  -o-transition: background-color 500ms ease 1s;
  transition: background-color 500ms ease 1s;

  -webkit-transition: color 500ms ease 1s;
  -moz-transition: color 500ms ease 1s;
  -o-transition: color 500ms ease 1s;
  transition: color 500ms ease 1s;
}
.addmany-actual-values .addmany-result.postbox.just-added {
  background-color: #0074a2;
  color: #FFF;
}
.btn-addmany-delete {
  float: right;
}
.addmany ~ b {
  line-height: 40px;
}
.addmany-actual-values li img {
}
.addmany-actual-values a {
  display: block;
}
.btn-addmany-toggle-collapse {
  float: right;
}
/*textarea[id*="addmanywysiwyg"] {
  display: none !important;
}*/
/*.addmany-li-fix-height, .ui-sortable-helper {
  height: 50px !important;
  width: 100%;
  overflow: hidden;
}
.ui-sortable-placeholder {
  height: 50px !important;
}*/